/* for overview page */
.item-summary-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-summary-list .key {
    display: inline-block;
    padding-right: 10px;
    min-width: 120px;
    background-color:aliceblue;
}

.item-summary-list .value {
    display: inline-block;
    font-weight: bold;
    background-color:lightsteelblue;
    min-width: 200px;
}


/* for item page */
.item-data {
    width: 100%;
}
.item-data th,
.item-data td {
    padding: 15px;
}

.item-data th {
    width: 25%;
    text-align: left;
    background-color: lightgray;
}
.item-data td {
    background-color: #eeeeee;
}

.book-data-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.cover-image {
    width: 200px;
}
.cover-image img {
    max-width: 100%;
}

/* add bookpage */
.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 33px;
} 
.form-row .key {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 125px;
    padding-left: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-weight: bold;
}

.form-row .value {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-row .value input {
    height: 100%;
}

/* navigation */

.navigation  {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

