/* for overview page */
.item-summary-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-summary-list .key {
    padding-right: 10px;
}

.item-summary-list .value {
    font-weight: bold;
}


/* for item page */
.item-data th,
.item-data td {
    padding: 15px;
}

.item-data th {
    width: 25%;
    text-align: left;
    background-color: lightgray;
}
.item-data td {
    background-color: #eeeeee;
}

.book-data-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cover-image {
    max-width: 200px;
}
.cover-image img {
    max-width: 100%;
}


