:root {
    --bg-color: #151444;
    --card-bg-color: #22365f; 
    --main-text-color: #4cfaa3;
    --accent-text-color: #c8ff00;
    --headline-text-color: #5efab1;

    /* https://mycolor.space/?hex=%235F9EA0 */
}