:root {
    --bg-color: #0074da;
    --card-bg-color: #4b0082; 
    --main-text-color: white;
    --accent-text-color: #00bfdb;
    --headline-text-color: #00bfdb;

    /* https://mycolor.space/?hex=%234B0082 */
}