:root {
    --bg-color: #f1f1f1;
    --card-bg-color: cadetblue; 
    --main-text-color: #e6f4f1;
    --accent-text-color: #befcfd;
    --headline-text-color: #befcfd;

    /* https://mycolor.space/?hex=%235F9EA0 */
}