:root {
    --bg-color: #1d4f58;
    --card-bg-color: #a57853; 
    --main-text-color: #7ee9e4;
    --accent-text-color: #FFD700;
    --headline-text-color: #6bd1d1;

    /* https://mycolor.space/?hex=%235F9EA0 */
}