:root {
    --bg-color: #232624;
    --card-bg-color: #32362f; 
    --main-text-color: #b4e570;
    --accent-text-color: #666754;
    --headline-text-color: #b8e78d;

    /* https://mycolor.space/?hex=%235F9EA0 */
}