:root {
    --bg-color: #122b3f;
    --card-bg-color: #2d3367; 
    --main-text-color: rgb(98, 93, 160);
    --accent-text-color: #4c739a;
    --headline-text-color: #2057b7;

    /* https://mycolor.space/?hex=%234B0082 */
}