:root {
    --bg-color: #008080;
    --card-bg-color: #F4A460; 
    --main-text-color: #c3fcf1;
    --accent-text-color: #a57853;
    --headline-text-color: #c3fcf1;

    /* https://mycolor.space/?hex=%235F9EA0 */
}