:root {
    --bg-color: #021c16;
    --card-bg-color: #212f2d; 
    --main-text-color: #6e9183;
    --accent-text-color: #845653;
    --headline-text-color: #658b7a;

    /* https://mycolor.space/?hex=%235F9EA0 */
}