:root {
    --bg-color: #03211C;
    --card-bg-color: #03342E; 
    --main-text-color: #e6f4f1;
    --accent-text-color: #befcfd;
    --headline-text-color: red;

    /* https://mycolor.space/?hex=%235F9EA0 */
}