:root {
    --bg-color: #3A292C;
    --card-bg-color: #2F3D3E; 
    --main-text-color: #445a4d;
    --accent-text-color: #767468;
    --headline-text-color: #445a4d;

    /* https://mycolor.space/?hex=%235F9EA0 */
}