:root {
    --bg-color: rgb;
    --card-bg-color: #375254; 
    --main-text-color: goldenrod;
    --accent-text-color: PaleTurquoise;
    --headline-text-color: goldenrod;

    /* https://mycolor.space/?hex=%235F9EA0 */
}