:root {
    --bg-color: #582b39;
    --card-bg-color: #800000; 
    --main-text-color: #88726d;
    --accent-text-color: #a86464;
    --headline-text-color: #88726d;

    /* https://mycolor.space/?hex=%235F9EA0 */
}