:root {
    --bg-color: #011205;
    --card-bg-color: #2f0301; 
    --main-text-color: #e3c159;
    --accent-text-color: #bd9761;
    --headline-text-color: #dcc26b;

    /* https://mycolor.space/?hex=%235F9EA0 */
}