:root {
    --bg-color: #473f24;
    --card-bg-color: #885f12; 
    --main-text-color: rgb(219, 213, 44);
    --accent-text-color: #e57316;
    --headline-text-color: #dc9522;

    /* https://mycolor.space/?hex=%234B0082 */
}