.pageContainer {
    border: thin green solid;
    margin: 0px auto;
    max-width: 750px;
}

.mainContent {
    border: thin blue solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation {
    border: thin purple solid;
    padding: 10px 50px 10px 50px;
}

th, td {
    padding: 5px;
}