/* for overview page */
.item-summary-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* for item page */
.item-data {}

.item-data th {
    width: 25%;
    text-align: left;
    background-color: lightgray;
}

